* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .uploadSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 150px 0 150px;
  }

 .uploadSection h3 {
    font-weight: 300;
  }

  .uploadLeft {
display: flex;
flex-direction: column;
  }

  .uploadRight img {
    width: 100%; 
    max-width: 510px; 
    height: auto; 
    display: block; 
    margin: 0 left; 
    margin-top: 70px;
}

@media (max-width: 768px) {
    .uploadSection img {
        max-width: 400px; /* tablets */
    }
}

@media (max-width: 480px) {
    .uploadSection img {
        max-width: 300px; /* mobile */
    }
}

 /* Upload Form */

.uploadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.uploadBox {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.uploadText {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

/* Hidden file input */
#files {
    display: none;
}

/* Label styled as a button */
.fileLabel {
    display: inline-block;
    padding: 12px 30px;
    background-color: #f0f0f0;
    border: 2px dashed #bbb;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.fileLabel:hover {
    background-color: #e0e0e0;
}

#fileName {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: #666;
}

button {
    background-color: #4CA2D9;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3c8baf;
}


/* Analysis Result Section */

.resultSection {
    background-color: #162935;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 -6px 7px rgba(89, 89, 89, 0.1);
}

.resultsContainer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: 40px 150px 50px 150px;
    justify-content: center;
}

.resultsHeader {
    margin: 50px 150px 0 150px;
    text-align: center;
    color: white;
}

#resumeLength,
#keywordsFound,
#education,
#experience,
#totalScore {
    background-color: #ffffff;
    border-radius: 12px; 
    padding: 20px;
    width: 300px;
    max-width: 100%;
}